.history
	.container
		h2.medium-title.history__title Our History
		.history__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
		.history__video-wrapper
			.history__video
				iframe(width="auto" height="auto"
					src="https://www.youtube.com/embed/8CU6yLC2vhg?html5=1"
					allowfullscreen="allowfullscreen"
					mozallowfullscreen="mozallowfullscreen"
					msallowfullscreen="msallowfullscreen"
					oallowfullscreen="oallowfullscreen"
					webkitallowfullscreen="webkitallowfullscreen"
					frameBorder="0").history__iframe
		h3.history__under-video Our hotel video