mixin product(title, price, prevPrice, counter, urlNumber)
	li.product__item#card
		.product-top
			img(src=`./img/shop/product-item${urlNumber}.jpg`).product-top__img
		.product-bottom
			.product-bottom__title #{title}
			.product-bottom__price
				span.product-bottom__price-prev #{price}
				| #{prevPrice}
		a(href="shop-details.html").product__circle
			img(src="./img/shop/plus-icon.png").product__plus-icon
		.product__like
			.product__counter #{counter}
			img(src="./img/shop/star-icon.png").product__star-icon
		.product-wrap
			a(href="").product-wrap__circle
				img(src="./img/shop/icon-cart.png").product-wrap__img
			a(href="").product-wrap__circle
				img(src="./img/shop/icon-wishlist.png").product-wrap__img